name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.14'


    - name: Run tests
      run: |
        pytest  # ou comando de teste da sua solução

    - name: Run solution on sample input
      run: |
        python main.py < test/input1.txt > output.txt
        diff output.txt tests/expected1.txt
